<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @inscription.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @inscription.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @inscription.bairro %>
</p>

<p>
  <strong>Local trabalho:</strong>
  <%= @inscription.local_trabalho %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @inscription.municipio %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @inscription.uf %>
</p>

<p>
  <strong>Regime juridico:</strong>
  <%= @inscription.regime_juridico %>
</p>

<p>
  <strong>Cargo funcao:</strong>
  <%= @inscription.cargo_funcao %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @inscription.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @inscription.cpf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @inscription.email %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @inscription.contato %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= @inscription.responsavel %>
</p>

<%= link_to 'Edit', edit_inscription_path(@inscription) %> |
<%= link_to 'Back', inscriptions_path %>
